.day {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}


.mihamm2 {
    width: 390px;
    height: 500px;
    overflow: hidden;
    margin-bottom: -35px;
    margin-top: -35px;

}

.mihamm {
    width: 400px;
    height: 385px;
    overflow: hidden;
    margin-bottom: -35px;
    margin-top: -35px;
}

.mihamm img {
    width: 280px;
    height: 420px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px
}