body {
    font-family: "Merriweather Sans";
}

.day {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.mihamm {
    overflow: hidden;
    justify-content: center;
    display: flex;
}

@media (min-width: 992px) {
    .mihamm {
        margin-bottom: -90px;
        margin-top: -90px;
    }
}

/*
@media (max-width: 767px) {
    .mihamm {
        margin-bottom: -10vw;
        margin-top: -10vw;
    }
}

 */

.mihamm-mask {
    /*mask-image: linear-gradient(to bottom, rgba(248, 249,250,0), rgba(248, 249,250,0.8) 30%, rgba(255, 0,0,0.8) 70%, rgba(255, 0,0,0.3) 80%, rgba(0,0,0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(248, 249,250,0), rgba(248, 249,250,0.8) 30%, rgba(255, 0,0,0.8) 70%, rgba(255, 0,0,0.3) 80%, rgba(0,0,0, 0));
     */
}

@media (max-width: 440px) {
    .day {
        margin: 0;
        padding: 8px 8px 8px 8px;
    }
}
@media (max-width: 330px) {
    .day {
        margin: 0;
        padding: 8px 4px 8px 4px;
    }
}
/*
mobile devices with less than 282 pixel screenwidth have to scroll :(
 */

.nav-item {
    z-index: 1031;
}

@media (max-width: 991px) {
    .next-icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .days-navbar {
        padding-left: 100px
    }
    .days-navbar-container {
        z-index: 1030;
        background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 10%, rgba(255,255,255,1) 60%, rgba(255,255,255,.3) 70%, rgba(0,0,0,0));
    }
}

@media (max-width: 767px) {
    .days-navbar {
        padding-left: 5px;
        background-color: white;
        overflow-x: auto;
    }
    .days-navbar-container {
        padding: 0 15px 0 15px;
    }

    #navList {
        flex-wrap: nowrap;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .day-image {
        padding: 10vw 5vw 10vw 5vw;
        background-color: #fff;
    }
    .mihamm-scale {
        padding: 48px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .day-image {
        padding: 10vw 5vw 10vw 5vw;
        background-color: #fff;
    }
    .mihamm-scale {
        padding: 48px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .day-image {
        padding: 5vw 5vw 2vw 5vw;
        background-color: #fff;
    }
    .mihamm-scale {
        padding: 12px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .day-image {
        visibility: hidden;
        height: 0;
    }
    .mihamm-scale {
        padding: 12px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .day-image {
        visibility: hidden;
    }
    .mihamm-scale {
        padding: 12px;
    }
}

.action-icon {
    max-width: 190px;
    padding: 0 20px 0 20px;
    margin: auto;
    cursor: pointer;
}
